body {
  font-family: Arial, sans-serif;
  background-image: url("./image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Use min-height instead of height to allow page to grow */
  display: flex;
  flex-direction: column; /* Allows body to grow vertically */
  justify-content: flex-start; /* Aligns content to the top of the page */
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  font-size: 48px;
  color: #E50914; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-top: 20px; /* Add margin to space it from the top */
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#search-input {
  width: 60%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
#search-input::placeholder {
  color: #E50914;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E50914;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  transition: transform 0.3s ease;
}

#search-input:hover, #search-button:hover {
  transform: scale(1.05); 
}

#search-input:active, #search-button:active {
  transform: scale(0.95); 
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px; /* Add padding for better spacing */
  overflow-y: auto; /* Ensure results are scrollable */
}

.movie {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}

.movie h3 {
  font-size: 18px;
  margin: 10px 0;
}
